.body {
  color: white;
  background-image: radial-gradient(
      at 50% 50%,
      hsl(197, 100%, 50%, 0.25) 10%,
      transparent 60%
    ),
    radial-gradient(at 20% 80%, hsla(262, 100%, 50%, 0.25) 10%, transparent 60%),
    radial-gradient(at 80% 10%, hsla(215, 100%, 50%, 0.25) 10%, transparent 60%),
    radial-gradient(at 22% 20%, hsla(180, 100%, 50%, 0.25) 10%, transparent 60%),
    radial-gradient(at 80% 85%, hsl(137, 100%, 50%, 0.25) 10%, transparent 60%);
  min-height: 100vh;
  min-height: 100dvh;
  font-weight: 500;
}

a.a {
  color: white;
}

.glass-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 50px 50px 20px 50px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.navbar {
  vertical-align: middle;
}

.logo {
  display: inline-block;
  font-size: 30px;
  font-weight: 500;
}

ul.nav-links {
  float: right;
  display: flex;
  list-style: none;
}

li.nav-link {
  display: inline-block;
  font-size: 17px;
  font-weight: normal;
  text-decoration: underline;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main {
  display: inline-block;
  flex: 0 1 650px;
  padding: 20px;
  align-self: center;
}

.main h2.h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.main p.p {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-flow: row wrap;
}

.button-container > a {
  text-align: center;
  flex: 1 1 0%;
}

button.button {
  width: 90%;
  height: 40px;
  font-size: 15px;
  font-weight: normal;
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.button:hover {
  border-color: #2668db;
  background-color: #2668db;
}

.image-wrapper {
  display: flex;
  margin-top: 5vh;
  margin-top: 5dvh;
  position: relative;
}

.image-wrapper img.img {
  max-width: 500px;
}

@media screen and (max-width: 1080px) {
  .container {
    grid-template: 10vh 1fr 15vh / 5vw 1fr 5vw;
    grid-template: 10dvh 1fr 15dvh / 5vw 1fr 5vw;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .main {
    margin-top: 3vh;
    margin-top: 3dvh;
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 775px) {
  .container {
    grid-template: 10vh 1fr 15vh / 3vw 1fr 3vw;
    grid-template: 10dvh 1fr 15dvh / 3vw 1fr 3vw;
  }

  .logo {
    font-size: 25px;
  }

  li.nav-link {
    font-size: 15px;
  }

  .main {
    padding: 0;
  }

  .main h2.h2 {
    margin: 30px 0 10px;
    font-size: 28px;
  }

  .main p.p {
    font-size: 15px;
  }

  button.button {
    font-size: 13px;
  }

  .image-wrapper img {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .logo {
    font-size: 20px;
    width: 150px;
  }

  .main h2.h2 {
    font-size: 22px;
  }

  .main p.p {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .logo {
    font-size: 20px;
    width: 70px;
  }
}
