.notfound-body {
  background: radial-gradient(
      at 50% 50%,
      hsl(0, 100%, 50%, 0.4) 10%,
      transparent 60%
    ),
    radial-gradient(at 75% 20%, hsla(13, 100%, 50%, 0.5) 10%, transparent 60%),
    radial-gradient(at 84% 86%, hsla(0, 100%, 43%, 0.6) 10%, transparent 60%),
    radial-gradient(at 13% 23%, hsla(343, 100%, 50%, 0.5) 10%, transparent 60%),
    radial-gradient(at 13% 86%, hsla(340, 100%, 28%, 0.6) 15%, transparent 60%);
  min-height: 100vh;

  color: white;
  text-shadow: 1px 2px 2px darkred;
}

a.a {
  color: black;
  transition: all 0.3;
}

a.a:hover {
  color: rgb(0, 38, 255);
}

h1.h1-container {
  display: flex;
  align-items: center;
  height: 35px;
  font-size: 3em;
  margin-bottom: 20px;
  letter-spacing: 5px;
}

span.icon {
  font-size: 1.2em;
  margin-right: 5px;
}

.container {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
