.content {
  height: 80dvh;
  grid-area: 2 / 2 / -2 / -2;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

h1.h1-container {
  font-size: 3em;
  letter-spacing: 5px;
  text-align: center;
}

span.icon {
  font-size: 1.2em;
  margin-right: 5px;
  translate: 0 10px;
}
